header {
  display: flex;
  flex: 1;
  margin: 1rem;
}

header img {
  width: 126px;
}

header nav a {
  color: #AAA;
  font-size: 1.2rem;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

header nav a:hover {
  opacity: 0.7;
}

header nav {
  margin-left: 50px;
}

.header {
  display: flex;
  flex: 1;
  align-items: center;
}

.profile-user img {
  width: 58px;
  height: 58px;
}

.content-header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

/* Filme Principal */
.banner-main {
  height: 600px;
  max-width: 2560px;

  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/banner.jpg') no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.banner-main .container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.banner-main h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.banner-main p {
  font-size: 1.25rem;
  color: #F4F4F4;
}

.wrapper-buttons {
  margin-top: 2rem;
  margin-left: 2rem;
}

.button {
  padding: 1rem 1.25rem;
  border-radius: 5px;
  border: none;

  font-size: .8rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
}

.button:hover {
  opacity: .8;
}

.button i {
  margin-right: 5px;
}

.secondary {
  color: white;
  background: #47393a;
}

.carousel-film {
  max-width: 2560px;
  margin-left: 2rem;
}

.carousel-film p {
  font-weight: 900;
  font-size: 1.25rem;
  font-family: Roboto;
}

.box-film {
  height: 70%;
  display: block;

  margin: 1.25rem 0;
}

.footer {
  padding: 2rem 0 2rem 0;
  border-top: 8px solid #222;
  background: black;
  text-align: center;
  display: grid;
  justify-items: center;
}

.footer p {
  margin-top: 2rem;
  color: #757575;
  font-size: 1rem;
}